body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: #21222A;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
}

.navbar-logo {
  margin-right: 7px;
  width: 8vw;
}

.navbar-facts {
  color: #61DAFB;
  font-size: 2vh;
  font-weight: bold;
  margin-right: auto;
}

.navbar-text {
  color: #DEEBF8;
  font-size: 1.6vh;
  font-weight: 600;
  text-align: right;
}

.main {
  background: #282D35;
  background-image: url("./images/reactjs-icon-2.svg");
  background-repeat: no-repeat;
  background-position: right 25%;
  color: #FFF;
  height: 100vh;
  padding: 57px 27px;
}

.main-header {
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
}

.funfact-points {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 5vh;
  max-width: 80vw;
}

.funfact-points>li {
  line-height: 1.2rem;
  padding-block: 1.2vh;
}

.funfact-points>li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .navbar-logo {
    width: 4vw;
  }

  .navbar-facts {
    font-size: 3vh;
  }

  .navbar-text {
    font-size: 3vh;
  }

  .main {
    background-size: 35%;
    background-position-y: 0%;
  }

  .main-header {
    font-size: 5vh;
  }

  .funfact-points {
    margin-top: 2vh;
    width: 50vw;
  }
}

@media (min-width: 1024px) {

  .navbar-logo {
    width: 3vw;
  }

  .navbar-facts,
  .navbar-text {
    font-size: 4vh;
  }

  .main-header {
    font-size: 7vh;
  }

  .main {
    background-size: 25%;
    background-position-y: 15%;
    padding: 6vh 2.5vw;
  }

  .funfact-points {
    font-size: 1.3rem;
  }

  .funfact-points>li {
    line-height: 2rem;
  }

  .funfact-points>li::marker {
    font-size: 1.5rem;
  }
}